@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-bg {
  background:  50px / contain no-repeat url('./images/illustration-working.svg');
}

.input-bg {
  background:  right top / 237px 90px no-repeat url('./images/bg-shorten-mobile.svg');
  background-color: #3A3053;
}


.invalid-input::placeholder {
  color: pink;
}

.boost-bg {
  background:  right top / auto auto no-repeat url('./images/bg-boost-mobile.svg');
  background-color: #3A3053;
}

.slide {
  transition: all 0.5s;
}

.mobile-nav-hide {
  top: -1500%;
}

.mobile-nav-show {
  top: 100%;
}

@media screen and (min-width: 768px) {
  .input-bg {
    background:  right top / auto auto no-repeat url('./images/bg-shorten-desktop.svg');
    background-color: #3A3053;
  }

  .boost-bg {
    background:  right top / auto auto no-repeat url('./images/bg-boost-desktop.svg');
    background-color: #3A3053;
  }
}