@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vh;
}

nav {
    padding: 1.5rem;
}


.banner-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.banner-desktop {
    display: none;
}

.welcome {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    font-weight: 600;
}
.welcome span {
    color: #CE9797;
    font-weight: 300;
}

.content {
    width: 88%;
    margin: auto;
    padding-left: 1.93rem;
    padding-right: 1.93rem;
}
.content p {
    text-align: center;
    color: #CE9797;
    font-weight: 300;
}

form {
    position: relative;
    margin-top: 2rem;
}

form input {
    border: 1px solid #CE9797;
    width: 100%;
    font-weight: 300;
    padding: 1rem;
    border-radius: 40px;
    line-height: 20px;
}
form input:focus {
    outline: none !important;
    border: 1px solid #F96262;
}
form input:invalid{
    color: #F96262;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CE9797;
    opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #CE9797;
}

form button {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;
    border-radius: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%) , hsl(0, 74%, 74%));
}

@media screen and (min-width: 700px) {
    nav {
        height: 10%;
    }
    main {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .banner-mobile {
        display: none;
    }
    .banner-desktop {
        display: block;
        width: 100%;
    }
    .welcome-container {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    body {
        min-width: 100vw;
        font-size: 18px;
    }
    .welcome-container {
        padding-top: 2rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .welcome {
        width: 20%;
        text-align: left;
        margin-left: 5rem;
    }
    .content {
        margin-left: 5rem;
        padding-left: 0;
        width: 50%;
    }
    .content p {
        text-align: left;
    }
}

@media screen and (min-width: 1400px) {

    body {
        font-size: 20px;
    }

    .welcome-container {
        padding-top: 5rem;
        padding-left: 8rem;
        padding-right: 0;
    }
}



